.contact-form {
  &__label {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 24px;
    letter-spacing: 4.8px;
    @include mq-down() {
      font-size: 14px;
      letter-spacing: 3px;
    }
    &::before {
      content: "必須";
      display: block;
      width: 80px;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: $white;
      background-color: $red;
      @include mq-down() {
        width: 50px;
        font-size: 14px;
        line-height: 25px;
      }
    }
    &--free {
      &::before {
        content: "任意";
        background-color: $gray;
      }
    }
  }
  &__input {
    width: 100%;
    max-width: 560px;
    line-height: 40px;
    border: 1px solid gray;
    @include mq-down() {
      line-height: 30px;
      max-width: initial;
    }
    &--textarea {
      resize: none;
      line-height: 1.6;
      height: 385px;
      @include mq-down() {
        height: 170px;
      }
    }
  }
  &__button {
    width: 110px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 4.8px;
    text-align: center;
    color: $white;
    background-color: $gray;
    @include mq-down() {
      width: 60px;
      border-radius: 7px;
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 3px;
    }
  }
  &__note {
    display: block;
  }
}