.global-menu {
  display: flex;
  gap: 32px;
  @include mq-down() {
    gap: 0;
    flex-direction: column;
    padding: 80px 50px 0;
  }
  &__item {
    @include mq-down() {
      &:not(:last-child) {
        border-bottom: 1px solid;
      }
    }
  }
  &__link {
    @include mq-down() {
      display: block;
      padding: 15px 0;
    }
  }
  &__image {
    height: 18px;
  }
}