.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include mq-down() {
    position: fixed;
  }
  &__wrap {
    position: absolute;
    top: 50px;
    @include mq-down() {
      top: 20px;
    }
    &--left {
      left: 60px;
      @include mq-down() {
        left: 25px;
        z-index: 100;
      }
    }
    &--right {
      right: 55px;
      @include mq-down() {
        display: none;
        top: 0px;
        right: initial;
        width: 100%;
        height: 100vh;
        background-image: url(../image/bg-white.jpg);
      }
    }
  }
  &__logo {
    width: 100px;
    @include mq-down() {
      display: none;
    }
  }
  &__title {
    margin: 26px auto 0;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 9px;
    writing-mode: vertical-rl;
    @include mq-down() {
      margin: 0;
      font-size: 14px;
      letter-spacing: 4px;
      writing-mode: initial;
    }
  }
  &__hamburger {
    display: none;
    @include mq-down() {
      position: absolute;
      top: 20px;
      right: 25px;
      display: block;
      padding: 16.5px 5px;
      & span {
        position: relative;
        display: block;
        width: 25px;
        height: 2px;
        background-color: $gray;
        transition: all .3s;
        &::before, &::after {
          position: absolute;
          content: "";
          display: block;
          width: 25px;
          height: 2px;
          background-color: $gray;
          transition: all .3s;
        }
        &::before {
          bottom: 6px;
        }
        &::after {
          top: 6px;
        }
      }
      &--opened span {
        background-color: transparent;
        &::before,
        &::after {
          background-color: $gray;
        }
        &::before {
          bottom: 0;
          transform: rotateZ(45deg);
        }
        &::after {
          top: 0;
          transform: rotateZ(-45deg);
        }
      }
    }
  }
}