.hero-section {
  position: relative;
  padding-top: 115px;
  @include mq-down() {
    padding-top: 80px;
    padding-right: 30px;
    padding-left: 30px;
  }
  &__wrap {
    padding-bottom: 80px;
    @include mq-down() {
      padding-bottom: 50px;
    }
  }
  &__image {
    &--pc {
      @include mq-down() {
        display: none;
      }
    }
    &--sp {
      display: none;
      @include mq-down() {
        display: block;
      }
    }
  }
  &__description--sp {
    display: none;
    @include mq-down() {
      display: block;
      font-size: 18px;
      line-height: 1.8;
      color: $brown;
      text-align: center;
    }
  }
  &__button {
    position: absolute;
    right: 50px;
    bottom: 0;
    display: block;
    @include mq-down() {
      display: none;
    }
  }
  &__arrow {
    height: 180px;
  }
}