.news-list {
  list-style: none;
  &__item {
    border-bottom: 1px solid $gray;
  }
  &__link {
    display: flex;
    gap: 160px;
    letter-spacing: 1px;
    line-height: 2.2;
    @include mq-down() {
      gap: 50px;
    }
  }
  &__time {}
  &__title {
    font-weight: normal;
    max-width: 680px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include mq-down() {
      width: calc(100% - 140px);
    }
  }
}