.page-blend {
  @include mq-up() {
    width: 1125px;
    padding-left: 150px;
  }
  @include mq-down() {
    overflow: hidden;
  }
  &__wrap {
    @include mq-down() {
      display: flex;
      gap: 30px;
      flex-direction: column;
    }
    & > .page-blend__discription {
      @include mq-down() {
        order: 1;
      }
    }
    & > .page-blend__result {
      @include mq-down() {
        order: 3;
      }
    }
    & > .page-blend__list {
      @include mq-down() {
        order: 2;
      }
    }
  }
  &__description {
    &--frame {
      width: 255px;
      padding: 0 20px 15px;
      border-radius: 16px;
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 0;
      background-color: $white;
      @include mq-down() {
        width: 100%;
        font-size: inherit;
      }
      & h2 {
        line-height: 1;
        transform: translateY(-10.5px);
      }
    }
  }
  &__addition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @include mq-down() {
      flex-direction: column;
    }
  }
  &__material {
    display: flex;
    gap: 45px;
    align-items: flex-start;
    height: 173px;
    @include mq-down() {
      width: 100%;
      height: auto;
    }
    &--1,
    &--2 {
      position: relative;
      @include mq-down() {
        flex-direction: column !important;
      }
    }
    &--1 {
      flex-direction: row-reverse;
    }
    &--1::after,
    &--2::after {
      content: "";
      position: absolute;
      top: 150px;
      display: block;
      width: 427.5px;
      height: 306px;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
      @include mq-down() {
        top: 120px;
        width: 250px;
        height: 175px;
      }
    }
    &--1::after {
      background-image: url("../image/image-blend-person-left.png");
      @include mq-down() {
        left: -60px;
      }
    }
    &--2::after {
      background-image: url("../image/image-blend-person-right.png");
      @include mq-down() {
        right: -60px;
      }
    }
    & h2 {
      font-size: 24px;
      font-weight: normal;
      text-align: center;
      letter-spacing: 4.8px;
    }
  }
  &__image--selected {
    width: 123px;
    margin: 0 auto;
    @include mq-down() {
      width: auto;
    }
    & img {
      width: 123px;
      height: 105px;
      margin: 0 auto;
      @include mq-down() {
        width: auto;
      }
    }
  }
  &__plus,
  &__equal {
    height: 45px;
  }
  &__equal {
    margin: 0 auto;
  }
  &__yarn {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: fit-content;
    width: -moz-fit-content;
    height: 355px;
    margin: 0 auto;
    & h2 {
      font-size: 24px;
      font-weight: normal;
      text-align: center;
      letter-spacing: 4.8px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: -130px;
    @include mq-down() {
      gap: 60px;
      flex-direction: column;
      margin-top: 30px;
    }
  }
  &__materials {
    &--1 {
      @include mq-down() {
        text-align: center;
      }
    }
    &--2 {
      & p {
        text-align: right;
        @include mq-down() {
          text-align: center;
        }
      }
    }
    & img {
      height: 70px;
      cursor: pointer;
      user-select: none;
      user-drag: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      @include mq-down() {
        height: 65px;
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &__natural-fiber {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    width: 375px;
    @include mq-down() {
      width: 100%;
      justify-content: center;
    }
  }
  &__natural-materials {
    margin-right: -80px;
    @include mq-down() {
      margin-right: 0;
    }
  }
  &__row {
    display: flex;
    justify-content: center;
    &--1 {
      gap: 17px;
      @include mq-down() {
        gap: 7px;
      }
    }
    &--2 {
      gap: 24px;
      @include mq-down() {
        gap: 7px;
      }
    }
    &--3 {
      gap: 10px;
      @include mq-down() {
        gap: 20px 5px;
        flex-wrap: wrap;
      }
    }
  }
}
.selected {
  opacity: 0.3;
  pointer-events: none;
}