.page-company {
  &__info {
    & > .page-company__description:not(:last-child), & > .page-company__description--parent {
      padding-bottom: 20px;
      border-bottom: 2px solid $gray-light;
      @include mq-down() {
        padding-bottom: 10px;
      }
    }
  }
  &__heading {
    &--location {
      font-size: 24px;
      color: $brown;
      @include mq-down() {
        font-size: 16px;
      }
    }
  }
  &__description {
    font-size: 20px;
    @include mq-down() {
      font-size: 16px;
    }
    &--location {
      font-size: 20px;
      letter-spacing: 4px;
      line-height: 1.5;
      @include mq-down() {
        font-size: 14px;
        line-height: 1.8;
      }
      & iframe {
        @include mq-down() {
          width: 100%;
        }
      }
    }
    &--name {
      font-size: 24px;
      @include mq-down() {
        font-size: 18px;
      }
    }
    &--parent {
      display: flex;
      gap: 80px;
      padding-top: 18px;
      @include mq-down() {
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 4px;
      }
    }
  }
  &__location {
    @include mq-down() {
      width: 100%;
    }
  }
}